.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin-bottom: 20px;
}

.bottom-row {
    width: 80%;
}

.content-container {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h3{
    text-align: center;
    color: #4a0072;
}

p, ul {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: "•";
    color: #4a0072;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}